{% extends 'pages.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
<style>
    .table{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    .table td , .table th{
        border: 1px solid #ddd;
        padding: 8px;
    }
    .table tr:nth-child(even){background-color: #f2f2f2;}
    .table tr:hover{background-color: #ddd;}
    .table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #c2ad6b;
        color: white;
    }
    </style>
    <h1> New Reservations </h1>
<br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Time</th>
                <th>Of_people</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.phone }}</td>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.time ? reservation.time|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.ofPeople }}</td>
                <td>{{ reservation.message }}</td>
                <td>
                    <a href="{{ path('app_reserv_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reserv_edit', {'id': reservation.id}) }}">Edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</section>
{% endblock %}
