{% extends 'base.html.twig' %}

{% block title %}Restaurateur{% endblock %}

{% block body %}
    <h1>Restaurateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ restaurateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ restaurateur.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ restaurateur.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ restaurateur.password }}</td>
            </tr>
            <tr>
                <th>Numtel</th>
                <td>{{ restaurateur.numtel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_restaurateur_index') }}">back to list</a>

    <a href="{{ path('app_restaurateur_edit', {'id': restaurateur.id}) }}">edit</a>

    {{ include('restaurateur/_delete_form.html.twig') }}
{% endblock %}
